*/15 9-20 * * * export LC_ALL=en_US.UTF-8; /usr/local/bin/daze checktoday --cron 1 && /usr/local/bin/daze add > ~/.daze/cron.log 2>&1

0 12 * * 5 NOW=$(date "+%Y-%m-%d"); cp ~/.daze/ll.json ~/.daze/backups/$NOW.json
