*/15 9-20 * * * export LC_ALL=en_US.UTF-8; export DAZE=/Users/mikayla/.daze /usr/local/bin/daze checktoday --cron 1 && /usr/local/bin/daze add > $DAZE/cron.log 2>&1

0 12 * * 5 export DAZE=/Users/mikayla/.daze; NOW=$(date "+%Y-%m-%d"); cp $DAZE/ll.json $DAZE/backups/$NOW.json
